<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trace.dao.TestDao" >
  <resultMap id="BaseResultMap" type="com.trace.po.Test" >
    <id column="test_id" property="test_id" jdbcType="VARCHAR" />
    <result column="test_time" property="test_time" jdbcType="VARCHAR" />
    <result column="isQh" property="isQh" jdbcType="VARCHAR" />
    <result column="test_machine" property="test_machine" jdbcType="VARCHAR" />
    <result column="test_result" property="test_result" jdbcType="VARCHAR" />
    <result column="test_influence" property="test_influence" jdbcType="VARCHAR" />
    <result column="test_type" property="test_type" jdbcType="VARCHAR" />
    <result column="test_name" property="test_name" jdbcType="VARCHAR" />
    <result column="test_bh" property="test_bh" jdbcType="VARCHAR" />
    <result column="test_kind" property="test_kind" jdbcType="VARCHAR" />
    <result column="test_grade" property="test_grade" jdbcType="VARCHAR" />
    <result column="test_status" property="test_status" jdbcType="VARCHAR" />
    <result column="test_user" property="test_user" jdbcType="VARCHAR" />
    <result column="ycdzm" property="ycdzm" jdbcType="VARCHAR" />
    <result column="sampling_video" property="sampling_video" jdbcType="VARCHAR" />
    <result column="test_num" property="test_num" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    test_name,test_id,test_time, test_machine, test_result,test_influence,test_type,test_video,
    test_bh,test_num,test_grade,test_status,test_kind,test_user,isQh,sampling_video,ycdzm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from test
    where test_id = #{test_id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from test
    where test_name like '%${test_name,jdbcType=VARCHAR}%'
  </select>
  
  <select id="getTestInfo" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT * from farmer f,trace_flow tf,test t where t.test_id = tf.test_id and tf.farmer_id = f.farmer_id
	and t.test_status = '2' 
	and t.test_time like '%${test_time}%'
	and t.test_grade = #{grade} 
	and t.test_kind=#{kind}
	and t.test_result=#{result}
	and t.isQh =#{qh}
  </select>
  
  <select id="selectAllTest" resultMap="BaseResultMap" parameterType="com.trace.po.Test" >
    select 
    <include refid="Base_Column_List" />
    from test where 1=1
    <if test="test_name != null and test_name != ''" >
        and test_name = #{test_name}
      </if>
      <if test="test_time != null and test_time != ''" >
        and test_time like '%${test_time}%'
      </if>
      <if test="test_bh != null and test_bh != ''" >
        and  test_bh = #{test_bh}
      </if>
      <if test="test_kind != null and test_kind != ''" >
        and test_kind = #{test_kind}
      </if>
      <if test="test_grade != null and test_grade != ''" >
        and test_grade = #{test_grade}
      </if>
      <if test="test_status != null and test_status != ''" >
        and test_status = #{test_status}
      </if>
      <if test="test_num != null and test_num != 0" >
        and test_num = #{test_num}
      </if>
      <if test="test_machine != null and test_machine != ''" >
        and test_machine = #{test_machine}
      </if>
      <if test="test_result != null and test_result != ''" >
        and test_result = #{test_result}
      </if>
      <if test="test_type != null and test_type != ''" >
        and test_type = #{test_type}
      </if>
      <if test="test_video != null and test_video != ''" >
        and test_video = #{test_video}
      </if>
      <if test="test_user != null and test_user != ''" >
        and test_user = #{test_user}
      </if>
      <if test="isQh != null and isQh != ''" >
        and isQh = #{isQh}
      </if>
      <if test="ycdzm != null and ycdzm != ''" >
        and ycdzm = #{ycdzm}
      </if>
  </select>
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from test where 1=1
    <if test="test_name != null and test_name != ''" >
        and test_name = #{test_name}
      </if>
      <if test="test_time != null and test_time != ''" >
        and test_time like '%${test_time}%'
      </if>
      <if test="test_bh != null and test_bh != ''" >
        and  test_bh = #{test_bh}
      </if>
      <if test="test_kind != null and test_kind != ''" >
        and test_kind = #{test_kind}
      </if>
      <if test="test_grade != null and test_grade != ''" >
        and test_grade = #{test_grade}
      </if>
      <if test="test_status != null and test_status != ''" >
        and test_status = #{test_status}
      </if>
      <if test="test_num != null and test_num != 0" >
        and test_num = #{test_num}
      </if>
      <if test="test_machine != null and test_machine != ''" >
        and test_machine = #{test_machine}
      </if>
      <if test="test_result != null and test_result != ''" >
        and test_result = #{test_result}
      </if>
      <if test="test_type != null and test_type != ''" >
        and test_type = #{test_type}
      </if>
      <if test="test_video != null and test_video != ''" >
        and test_video = #{test_video}
      </if>
      <if test="test_user != null and test_user != ''" >
        and test_user = #{test_user}
      </if>
      <if test="isQh != null and isQh != ''" >
        and isQh = #{isQh}
      </if>
      order by test_time
      limit ${index},8
      
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    count(1) as num
    from test where 1=1
    <if test="test_name != null and test_name != ''" >
        and test_name = #{test_name}
      </if>
      <if test="test_time != null and test_time != ''" >
        and test_time like '%${test_time}%'
      </if>
      <if test="test_bh != null and test_bh != ''" >
        and  test_bh = #{test_bh}
      </if>
      <if test="test_kind != null and test_kind != ''" >
        and test_kind = #{test_kind}
      </if>
      <if test="test_grade != null and test_grade != ''" >
        and test_grade = #{test_grade}
      </if>
      <if test="test_status != null and test_status != ''" >
        and test_status = #{test_status}
      </if>
      <if test="test_num != null and test_num != 0" >
        and test_num = #{test_num}
      </if>
      <if test="test_machine != null and test_machine != ''" >
        and test_machine = #{test_machine}
      </if>
      <if test="test_result != null and test_result != ''" >
        and test_result = #{test_result}
      </if>
      <if test="test_type != null and test_type != ''" >
        and test_type = #{test_type}
      </if>
      <if test="test_video != null and test_video != ''" >
        and test_video = #{test_video}
      </if>
      <if test="test_user != null and test_user != ''" >
        and test_user = #{test_user}
      </if>
      <if test="isQh != null and isQh != ''" >
        and isQh = #{isQh}
      </if>
  </select>
  
  <insert id="insert" parameterType="com.trace.po.Test">
  	insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="test_id != null and test_id != ''" >
        test_id,
      </if>
      <if test="test_name != null and test_name != ''" >
        test_name,
      </if>
      <if test="test_time != null and test_time != ''" >
        test_time,
      </if>
      <if test="test_bh != null and test_bh != ''" >
        test_bh,
      </if>
      <if test="test_kind != null and test_kind != ''" >
        test_kind,
      </if>
      <if test="test_grade != null and test_grade != ''" >
        test_grade,
      </if>
      <if test="test_status != null and test_status != ''" >
        test_status,
      </if>
      <if test="test_num != null and test_num != 0" >
        test_num,
      </if>
      <if test="test_machine != null and test_machine != ''" >
        test_machine,
      </if>
      <if test="test_result != null and test_result != ''" >
        test_result,
      </if>
      <if test="test_influence != null and test_influence != ''" >
        test_influence,
      </if>
      <if test="test_type != null and test_type != ''" >
        test_type,
      </if>
      <if test="test_video != null and test_video != ''" >
        test_video,
      </if>
      <if test="test_user != null and test_user != ''" >
        test_user,
      </if>
      <if test="isQh != null and isQh != ''" >
        isQh,
      </if>
      <if test="sampling_video != null and sampling_video != ''" >
        sampling_video,
      </if>
      <if test="ycdzm != null and ycdzm != ''" >
        ycdzm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="test_id != null and test_id != ''" >
        #{test_id},
      </if>
      <if test="test_name != null and test_name != ''" >
        #{test_name},
      </if>
      <if test="test_time != null and test_time != ''" >
        #{test_time},
      </if>
      <if test="test_bh != null and test_bh != ''" >
        #{test_bh},
      </if>
      <if test="test_kind != null and test_kind != ''" >
        #{test_kind},
      </if>
      <if test="test_grade != null and test_grade != ''" >
        #{test_grade},
      </if>
      <if test="test_status != null and test_status != ''" >
        #{test_status},
      </if>
      <if test="test_num != null and test_num != 0" >
        #{test_num},
      </if>
      <if test="test_machine != null and test_machine != ''" >
        #{test_machine},
      </if>
      <if test="test_result != null and test_result != ''" >
        #{test_result},
      </if>
      <if test="test_influence != null and test_influence != ''" >
        #{test_influence},
      </if>
      <if test="test_type != null and test_type != ''" >
        #{test_type},
      </if>
      <if test="test_video != null and test_video != ''" >
        #{test_video},
      </if>
      <if test="test_user != null and test_user != ''" >
        #{test_user},
      </if>
      <if test="isQh != null and isQh != ''" >
        #{isQh},
      </if>
      <if test="sampling_video != null and sampling_video != ''" >
        #{sampling_video},
      </if>
      <if test="ycdzm != null and ycdzm != ''" >
        #{ycdzm},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.trace.po.Test">
	UPDATE test
		 <trim prefix="set" suffixOverrides=",">
		  <if test="test_time !=null and test_time != ''">test_time=#{test_time},</if>
		  <if test="test_machine !=null and test_machine != ''">test_machine=#{test_machine},</if>
		  <if test="test_result !=null and test_result !=''">test_result=#{test_result},</if>
		  <if test="test_influence !=null and test_influence != ''">test_influence=#{test_influence},</if>
		  <if test="test_name !=null and test_name !=''">test_name=#{test_name},</if>
		  <if test="test_video!=null and test_video !=''">test_video=#{test_video},</if>
		  <if test="test_type !=null and test_type !=''">test_type=#{test_type},</if>
		  <if test="test_status !=null and test_status !=''">test_status=#{test_status},</if>
		  <if test="test_kind !=null and test_kind !=''">test_kind=#{test_kind},</if>
		  <if test="test_grade !=null and test_grade !=''">test_grade=#{test_grade},</if>
		  <if test="test_num !=null and test_num !=0">test_num=#{test_num},</if>
		  <if test="test_bh !=null and test_bh !=0">test_bh=#{test_bh},</if>
		  <if test="test_user !=null and test_user !=''">test_user=#{test_user},</if>
		  <if test="isQh !=null and isQh !=''">isQh=#{isQh},</if>
		  <if test="sampling_video !=null and sampling_video !=''">sampling_video=#{sampling_video},</if>
		  <if test="ycdzm !=null and ycdzm !=''">ycdzm=#{ycdzm},</if>
		 </trim>
	WHERE test_id=#{test_id}
  </update>
  
  <update id="updateByNameAndTime" parameterType="com.trace.po.Test">
	UPDATE test
	set test_status = #{test_status}	 
	WHERE test_name=#{test_name} and test_time like '%${test_time}%'
	and test_status != '2'
  </update>
  
  <delete id="deleteById" parameterType="java.lang.String">
  	delete FROM test where test_id = #{test_id}
  </delete>
  
</mapper>