<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.dao.DistributionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.order.po.DistributionInfo" >
    <id column="distribution_id" property="distribution_id" jdbcType="VARCHAR" />
    <result column="require_id" property="require_id" jdbcType="VARCHAR" />
    <result column="require_name" property="require_name" jdbcType="VARCHAR" />
    <result column="distribution_address" property="distribution_address" jdbcType="VARCHAR" />
    <result column="require_num" property="require_num" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="sum_price" property="sum_price" jdbcType="DOUBLE" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="yps" property="yps" jdbcType="DOUBLE" />
    <result column="wps" property="wps" jdbcType="DOUBLE" />
    <result column="base_id" property="base_id" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="signname" property="signname" jdbcType="VARCHAR" />
    <result column="dw" property="dw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    distribution_id, require_id, require_name, require_num, kind, yps, wps,spyb,
    distribution_address,base_id,price,round(sum_price,2)as sum_price,createtime,grade,signname,dw
  </sql>
  <select id="select" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from distribution_info
    where 1=1
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{spyb}
    </if>
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="require_name != null and require_name != ''">
    	and require_name like '%${require_name}%'
    </if>
    <if test="base_id != null and base_id != ''">
    	and base_id = #{base_id}
    </if>
  </select>
  <select id="selectPurchaseed" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    d.distribution_id, d.require_id, d.require_name, d.require_num, d.kind, d.yps, d.wps,d.spyb,
    d.distribution_address,d.base_id,d.price,round(d.sum_price,2)as sum_price,d.createtime,d.grade,d.signname
    d.dw from distribution_info d
    where EXISTS (select 1 from purchase_info p where p.kind = d.kind and p.grade = d.grade and p.spyb= d.spyb
	and p.createtime like concat(date_sub(curdate(),interval 1 day),'%') and p.number>p.remain_number)
    <if test="kind != null and kind != ''">
    	and d.kind = #{kind}
    </if>
    <if test="grade != null and grade != ''">
    	and d.grade = #{grade}
    </if>
    <if test="spyb != null and spyb != ''">
    	and d.spyb = #{spyb}
    </if>
    <if test="createtime != null and createtime != ''">
    	and d.createtime like '%${createtime}%'
    </if>
    <if test="require_name != null and require_name != ''">
    	and d.require_name like '%${require_name}%'
    </if>
    <if test="require_id != null and require_id != ''">
    	and d.require_id = #{require_id}
    </if>
    <if test="base_id != null and base_id != ''">
    	and d.base_id = #{base_id}
    </if>
  </select>
  <select id="query" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from distribution_info
    where 1=1
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{spyb}
    </if>
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="require_name != null and require_name != ''">
    	and require_name like '%${require_name}%'
    </if>
    <if test="base_id != null and base_id != ''">
    	and base_id = #{base_id}
    </if>
    limit ${index},8
    order by createtime desc
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    count(1)as num
    from distribution_info
    where 1=1
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{spyb}
    </if>
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="require_name != null and require_name != ''">
    	and require_name like '%${require_name}%'
    </if>
    <if test="base_id != null and base_id != ''">
    	and base_id = #{base_id}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from distribution_info
    where distribution_id = #{distribution_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from distribution_info
    where distribution_id = #{distribution_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.order.po.DistributionInfo" >
    insert into distribution_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="distribution_id != null" >
        distribution_id,
      </if>
      <if test="require_id != null" >
        require_id,
      </if>
      <if test="require_name != null" >
        require_name,
      </if>
      <if test="require_num != null and require_num != 0" >
        require_num,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="yps != null and yps != 0" >
        yps,
      </if>
      <if test="wps != null and wps != 0" >
        wps,
      </if>
      <if test="distribution_address != null and distribution_address != ''" >
        distribution_address,
      </if>
      <if test="grade != null and grade != ''" >
        grade,
      </if>
      <if test="spyb != null and spyb != ''" >
        spyb,
      </if>
      <if test="createtime != null and createtime != ''" >
        createtime,
      </if>
      <if test="base_id != null and base_id != ''" >
        base_id,
      </if>
      <if test="price != null and price != 0" >
        price,
      </if>
      <if test="sum_price != null and sum_price != 0" >
        sum_price,
      </if>
      <if test="dw != null and dw != ''" >
        dw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="distribution_id != null" >
        #{distribution_id,jdbcType=VARCHAR},
      </if>
      <if test="require_id != null" >
        #{require_id,jdbcType=VARCHAR},
      </if>
      <if test="require_name != null" >
        #{require_name,jdbcType=VARCHAR},
      </if>
      <if test="require_num != null and require_num != 0" >
        #{require_num,jdbcType=DOUBLE},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="yps != null and yps != 0" >
        #{yps,jdbcType=DOUBLE},
      </if>
      <if test="wps != null and wps != 0" >
        #{wps,jdbcType=DOUBLE},
      </if>
      <if test="distribution_address != null and distribution_address != ''" >
        #{distribution_address},
      </if>
      <if test="grade != null and grade != ''" >
        #{grade},
      </if>
      <if test="spyb != null and spyb != ''" >
        #{spyb},
      </if>
      <if test="createtime != null and createtime != ''" >
        #{createtime},
      </if>
      <if test="base_id != null and base_id != ''" >
        #{base_id},
      </if>
      <if test="price != null and price != 0" >
        #{price},
      </if>
      <if test="sum_price != null and sum_price != 0" >
        #{sum_price},
      </if>
      <if test="dw != null and dw != ''" >
        #{dw},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.order.po.DistributionInfo" >
    update distribution_info
    <set >
      <if test="require_id != null" >
        require_id = #{require_id,jdbcType=VARCHAR},
      </if>
      <if test="require_name != null" >
        require_name = #{require_name,jdbcType=VARCHAR},
      </if>
      <if test="require_num != null and require_num != 0" >
        require_num = #{require_num,jdbcType=DOUBLE},
      </if>
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="yps != null and yps != 0" >
        yps = #{yps,jdbcType=DOUBLE},
      </if>
      <if test="wps != null and wps != 0" >
        wps = #{wps,jdbcType=DOUBLE},
      </if>
      <if test="distribution_address != null and distribution_address != ''" >
        distribution_address = #{distribution_address},
      </if>
      <if test="grade != null and grade != ''" >
        grade = #{grade},
      </if>
      <if test="spyb != null and spyb != ''" >
        spyb = #{spyb},
      </if>
      <if test="createtime != null and createtime != ''" >
        createtime = #{createtime},
      </if>
      <if test="base_id != null and base_id != ''" >
        base_id = #{base_id},
      </if>
      <if test="price != null and price != 0" >
        price = #{price},
      </if>
      <if test="sum_price != null and sum_price != 0" >
        sum_price = #{sum_price},
      </if>
      <if test="signname != null and signname != ''" >
        signname = #{signname},
      </if>
      <if test="dw != null and dw != ''" >
        dw = #{dw},
      </if>
    </set>
    where distribution_id = #{distribution_id,jdbcType=VARCHAR}
  </update>
  <update id="updateSignName" parameterType="com.order.po.DistributionInfo" >
    update distribution_info
    <set >
      <if test="require_id != null" >
        require_id = #{require_id,jdbcType=VARCHAR},
      </if>
      <if test="require_name != null" >
        require_name = #{require_name,jdbcType=VARCHAR},
      </if>
      <if test="require_num != null and require_num != 0" >
        require_num = #{require_num,jdbcType=DOUBLE},
      </if>
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="yps != null and yps != 0" >
        yps = #{yps,jdbcType=DOUBLE},
      </if>
      <if test="wps != null and wps != 0" >
        wps = #{wps,jdbcType=DOUBLE},
      </if>
      <if test="distribution_address != null and distribution_address != ''" >
        distribution_address = #{distribution_address},
      </if>
      <if test="grade != null and grade != ''" >
        grade = #{grade},
      </if>
      <if test="spyb != null and spyb != ''" >
        spyb = #{spyb},
      </if>
      <if test="price != null and price != 0" >
        price = #{price},
      </if>
      <if test="sum_price != null and sum_price != 0" >
        sum_price = #{sum_price},
      </if>
      <if test="signname != null and signname != ''" >
        signname = #{signname},
      </if>
      <if test="dw != null and dw != ''" >
        dw = #{dw},
      </if>
    </set>
    where createtime like '${createtime}%' and base_id = #{base_id}
  </update>
  
  <select id="getDeliverData" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT createtime,require_name,signname,base_id from distribution_info 
  	WHERE createtime LIKE '%${datetime}%'
  	<if test="baseid != null and baseid != ''">
  		and base_id = #{baseid}
  	</if>
  	and require_num = yps
  	 GROUP BY require_name
  </select>
</mapper>