<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.dao.PurchaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.order.po.PurchaseInfo" >
    <id column="purchase_id" property="purchase_id" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="DOUBLE" />
    <result column="remain_number" property="remain_number" jdbcType="DOUBLE" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="spyb" property="spyb" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="supply_number" property="supply_number" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    purchase_id, kind, number, remain_number, grade, createtime, createuser, status, 
    parentid, type,price,supply_number,spyb
  </sql>
  
  <select id="select" resultType="java.util.Map" parameterType="com.order.po.PurchaseInfo" >
    select 
    <include refid="Base_Column_List" />
    from purchase_info
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="createuser != null and createuser != ''">
    	and createuser = #{createuser}
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="type != null and type != ''">
    	and type = #{type}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{spyb}
    </if>
  </select>
  <select id="selectTested" resultType="java.util.Map" parameterType="com.order.po.PurchaseInfo" >
    select 
    <include refid="Base_Column_List" />
    from purchase_info p
    where EXISTS 
	(select 1 from test t where t.test_kind=p.kind  and t.test_grade=p.grade 
	and t.test_spyb = p.spyb and t.test_result='1'
	and t.isQh ='1' and t.test_status = '2' and LEFT(t.test_time,10)=left(now(),10))
    <if test="createtime != null and createtime != ''">
    	and p.createtime like '%${createtime}%'
    </if>
    <if test="createuser != null and createuser != ''">
    	and p.createuser = #{createuser}
    </if>
    <if test="status != null and status != ''">
    	and p.status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and p.parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and p.grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and p.kind = #{kind}
    </if>
    <if test="type != null and type != ''">
    	and p.type = #{type}
    </if>
    <if test="spyb != null and spyb != ''">
    	and p.spyb = #{spyb}
    </if>
  </select>
  <select id="selectQh" resultType="java.util.Map" parameterType="com.order.po.PurchaseInfo" >
    select 
    <include refid="Base_Column_List" />
    from purchase_info
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime &gt; date_sub(now(), interval 15 hour)
    </if>
    <if test="createuser != null and createuser != ''">
    	and createuser = #{createuser}
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="type != null and type != ''">
    	and type = #{type}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{spyb}
    </if>
  </select>
  
  <select id="query" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from purchase_info
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="createuser != null and createuser != ''">
    	and createuser = #{createuser}
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="type != null and type != ''">
    	and type = #{type}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{type}
    </if>
    limit ${index},${size}
    order by createtime desc
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from purchase_info
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="createuser != null and createuser != ''">
    	and createuser = #{createuser}
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    <if test="type != null and type != ''">
    	and type = #{type}
    </if>
    <if test="spyb != null and spyb != ''">
    	and spyb = #{spyb}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from purchase_info
    where purchase_id = #{purchase_id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from purchase_info
    where purchase_id = #{purchase_id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByParentId" parameterType="java.lang.String" >
    delete from purchase_info
    where parentid = #{parentid,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.order.po.PurchaseInfo" >
    insert into purchase_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchase_id != null" >
        purchase_id,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="remain_number != null" >
        remain_number,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null and price != 0" >
        price,
      </if>
      <if test="supply_number != null and supply_number != 0" >
        supply_number,
      </if>
      <if test="spyb != null and spyb != ''" >
        spyb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchase_id != null" >
        #{purchase_id,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=DOUBLE},
      </if>
      <if test="remain_number != null" >
        #{remain_number,jdbcType=DOUBLE},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null and price != 0" >
        #{price},
      </if>
      <if test="supply_number != null and supply_number != 0" >
        #{supply_number},
      </if>
      <if test="spyb != null and spyb != ''" >
        #{spyb},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.order.po.PurchaseInfo" >
    update purchase_info
    <set >
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=DOUBLE},
      </if>
      <if test="remain_number != null" >
        remain_number = #{remain_number,jdbcType=DOUBLE},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null and price != 0" >
        price = #{price},
      </if>
      <if test="supply_number != null and supply_number != 0" >
        supply_number = #{supply_number},
      </if>
      <if test="spyb != null and spyb != ''" >
        spyb = #{spyb},
      </if>
    </set>
    where purchase_id = #{purchase_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByParentid" parameterType="com.order.po.PurchaseInfo" >
    update purchase_info
    <set >
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=DOUBLE},
      </if>
      <if test="remain_number != null" >
        remain_number = #{remain_number,jdbcType=DOUBLE},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null and price != 0" >
        price = #{price},
      </if>
      <if test="supply_number != null and supply_number != 0" >
        supply_number = #{supply_number},
      </if>
      <if test="spyb != null and spyb != ''" >
        spyb = #{spyb},
      </if>
    </set>
    where parentid = #{parentid,jdbcType=VARCHAR}
  </update>
  
  <select id="getCgAndXq" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT kind,number,grade,spyb,createtime,
	kind1,num,grade1,createtime1,spyb1
	 from 
		(SELECT kind,sum(number) as number,grade,createtime,spyb
		from purchase_info 
		WHERE createtime like '%${date1}%' and status ='1' and type='0' GROUP BY kind,grade,spyb)as cg  LEFT JOIN
		(SELECT kind as kind1,sum(num)as num,grade as grade1,createtime as createtime1,spyb as spyb1
		from require_info WHERE  createtime like '%${date2}%' GROUP BY kind,grade,spyb) as xq
		on cg.kind = xq.kind1 and cg.grade = xq.grade1 and cg.spyb = xq.spyb1
		UNION
		SELECT kind,number,grade,spyb,createtime,
	kind1,num,grade1,createtime1,spyb1
	 from 
		(SELECT kind,sum(number) as number,grade,createtime,spyb
		from purchase_info 
		WHERE createtime like '%${date1}%' and status ='1' and type='0' GROUP BY kind,grade,spyb)as cg  RIGHT JOIN
		(SELECT kind as kind1,sum(num)as num,grade as grade1,createtime as createtime1,spyb as spyb1
		from require_info WHERE  createtime like '%${date2}%' GROUP BY kind,grade,spyb) as xq
		on cg.kind = xq.kind1 and cg.grade = xq.grade1 and cg.spyb = xq.spyb1
		
  </select>
</mapper>