<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.dao.RemainPurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.order.po.RemainPurchase" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="DOUBLE" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kind, num, grade, createtime, status, parentid
  </sql>
  
  <select id="select" resultType="java.util.Map" parameterType="com.order.po.PurchaseInfo" >
    select 
    <include refid="Base_Column_List" />
    from remain_purchase
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
  </select>
  
  <select id="query" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from remain_purchase
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
    limit ${index},8
    order by createtime desc
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from remian_purchase
    where 1=1
    <if test="createtime != null and createtime != ''">
    	and createtime like '%${createtime}%'
    </if>
    <if test="status != null and status != ''">
    	and status = #{status}
    </if>
    <if test="parentid != null and parentid != ''">
    	and parentid = #{parentid}
    </if>
    <if test="grade != null and grade != ''">
    	and grade = #{grade}
    </if>
    <if test="kind != null and kind != ''">
    	and kind = #{kind}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from remain_purchase
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from remain_purchase
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.order.po.RemainPurchase" >
    insert into remain_purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.order.po.RemainPurchase" >
    update remain_purchase
    <set >
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByParentid" parameterType="com.order.po.RemainPurchase" >
    update remain_purchase
    <set >
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where parentid = #{parentid,jdbcType=VARCHAR}
  </update>
  
</mapper>