<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.mall.po.Banner" >
    <id column="banner_id" property="banner_id" jdbcType="VARCHAR" />
    <result column="banner_path" property="banner_path" jdbcType="VARCHAR" />
    <result column="banner_url" property="banner_url" jdbcType="VARCHAR" />
    <result column="banner_index" property="banner_index" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="banner_type" property="banner_type" jdbcType="VARCHAR" />
    <result column="banner_title" property="banner_title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    banner_id, banner_path, banner_url, banner_index, createtime,banner_type,banner_title
  </sql>
  
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
    <include refid="Base_Column_List" />
    from banner where 1=1
    <if test="banner_type != null">
    	and banner_type = #{banner_type}
    </if>
    order by banner_index
    limit ${index},8
  </select>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.mall.po.Banner">
  	select 
    <include refid="Base_Column_List" />
    from banner where 1=1
    <if test="banner_type != null">
    	and banner_type = #{banner_type}
    </if>
    order by banner_index
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
  	select 
    count(1) as num
    from banner where 1=1
    <if test="banner_type != null">
    	and banner_type = #{banner_type}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from banner
    where banner_id = #{banner_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from banner
    where banner_id = #{banner_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.po.Banner" >
    insert into banner (banner_id, banner_path, banner_url, 
      banner_index, createtime)
    values (#{banner_id,jdbcType=VARCHAR}, #{banner_path,jdbcType=VARCHAR}, #{banner_url,jdbcType=VARCHAR}, 
      #{banner_index,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.po.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="banner_id != null" >
        banner_id,
      </if>
      <if test="banner_path != null" >
        banner_path,
      </if>
      <if test="banner_url != null" >
        banner_url,
      </if>
      <if test="banner_index != null" >
        banner_index,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="banner_type != null" >
        banner_type,
      </if>
      <if test="banner_title != null" >
        banner_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="banner_id != null" >
        #{banner_id,jdbcType=VARCHAR},
      </if>
      <if test="banner_path != null" >
        #{banner_path,jdbcType=VARCHAR},
      </if>
      <if test="banner_url != null" >
        #{banner_url,jdbcType=VARCHAR},
      </if>
      <if test="banner_index != null" >
        #{banner_index,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="banner_type != null" >
        #{banner_type,jdbcType=VARCHAR},
      </if>
      <if test="banner_title != null" >
        #{banner_title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.po.Banner" >
    update banner
    <set >
      <if test="banner_path != null" >
        banner_path = #{banner_path,jdbcType=VARCHAR},
      </if>
      <if test="banner_url != null" >
        banner_url = #{banner_url,jdbcType=VARCHAR},
      </if>
      <if test="banner_index != null" >
        banner_index = #{banner_index,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="banner_type != null" >
        banner_type = #{banner_type,jdbcType=VARCHAR},
      </if>
      <if test="banner_title != null" >
        banner_title = #{banner_title,jdbcType=VARCHAR},
      </if>
    </set>
    where banner_id = #{banner_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.po.Banner" >
    update banner
    set banner_path = #{banner_path,jdbcType=VARCHAR},
      banner_url = #{banner_url,jdbcType=VARCHAR},
      banner_index = #{banner_index,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where banner_id = #{banner_id,jdbcType=VARCHAR}
  </update>
</mapper>