<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.mall.po.Shop" >
    <id column="shop_id" property="shop_id" jdbcType="VARCHAR" />
    <result column="member_id" property="member_id" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="shop_name" property="shop_name" jdbcType="VARCHAR" />
    <result column="shop_phone" property="shop_phone" jdbcType="VARCHAR" />
    <result column="shop_order" property="shop_order" jdbcType="INTEGER" />
    <result column="shop_pic" property="shop_pic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    shop_id,member_id ,address, coordinate, createtime,shop_name,shop_order,shop_phone,shop_pic
  </sql>
  <sql id="queryId" >
    shop_id, (select name from member where member.member=shop.member_id )as member_id ,
     address, coordinate, createtime,shop_name,shop_order,shop_phone,shop_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop
    where shop_id = #{shop_id,jdbcType=VARCHAR}
  </select>
  <select id="queryCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    count(1) as num
    from shop where 1=1
    <if test="shop_name != null and shop_name != ''">
     and shop_name like '%${shop_name}%'
    </if>
    <if test="member_id != null and member_id != ''">
     and member_id = #{member_id}
    </if>
  </select>
  
  <select id="queryCountAll" resultType="java.lang.Integer" parameterType="java.util.Map" >
  	select 
    count(1) as num
    from shop where 1=1
    <if test="shop_name != null and shop_name != ''">
     and shop_name like '%${shop_name}%'
    </if>
  </select>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from shop where 1=1
    <if test="shop_name != null and shop_name != ''">
     and shop_name like '%${shop_name}%'
    </if>
    <if test="member_id != null and member_id != ''">
     and member_id = #{member_id}
    </if>
    order by shop_name,member_id
    limit ${index},8
  </select>
  
  <select id="selectListAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select
    <include refid="Base_Column_List" />
    from shop where 1=1
    <if test="shop_name != null and shop_name != ''">
     and shop_name like '%${shop_name}%'
    </if>
    order by shop_name
    limit ${index},8
  </select>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.mall.po.Shop" >
  	select
    <include refid="Base_Column_List" />
    from shop where 1=1
    <if test="shop_name != null and shop_name != ''">
     and shop_name like '%${shop_name}%'
    </if>
    <if test="address != null and address != ''">
     and address like '%${address}%'
    </if>
    <if test="member_id != null and member_id != ''">
     and member_id = #{member_id}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop
    where shop_id = #{shop_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.po.Shop" >
    insert into shop (shop_id, member_id, address, 
      coordinate, createtime,shop_name,shop_order,shop_phone,shop_pic)
    values (#{shop_id,jdbcType=VARCHAR}, #{member_id,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{coordinate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR},#{shop_name,jdbcType=VARCHAR},
      #{shop_order},#{shop_phone},#{shop_pic})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.po.Shop" >
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shop_id != null" >
        shop_id,
      </if>
      <if test="member_id != null" >
        member_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="coordinate != null" >
        coordinate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="shop_name != null" >
        shop_name,
      </if>
      <if test="shop_order != null" >
        shop_order,
      </if>
      <if test="shop_phone != null" >
        shop_phone,
      </if>
      <if test="shop_pic != null and shop_pic != ''" >
        shop_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shop_id != null" >
        #{shop_id,jdbcType=VARCHAR},
      </if>
      <if test="member_id != null" >
        #{member_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="shop_name != null" >
        #{shop_name,jdbcType=VARCHAR},
      </if>
      <if test="shop_order != null" >
        #{shop_order,jdbcType=INTEGER},
      </if>
      <if test="shop_pic != null and shop_pic != ''" >
        #{shop_pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.po.Shop" >
    update shop
    <set >
      <if test="member_id != null" >
        member_id = #{member_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null and coordinate != ''" >
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null and createtime != ''" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="shop_name != null and shop_name != ''" >
        shop_name = #{shop_name,jdbcType=VARCHAR},
      </if>
      <if test="shop_order != null and shop_order != ''" >
        shaop_order = #{shop_order,jdbcType=INTEGER},
      </if>
      <if test="shop_phone != null and shop_phone != ''" >
        shop_phone = #{shop_phone,jdbcType=VARCHAR},
      </if>
      <if test="shop_pic != null and shop_pic != ''" >
        shop_pic = #{shop_pic,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shop_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.po.Shop" >
    update shop
    set member_id = #{member_id,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      shop_name = #{shop_name,jdbcType=VARCHAR},
      shop_order = #{shop_order,jdbcType=INTEGER},
      shop_phone = #{shop_phone,jdbcType=VARCHAR},
      shop_pic = #{shop_pic,jdbcType=VARCHAR}
    where shop_id = #{shop_id,jdbcType=VARCHAR}
  </update>
</mapper>